<% include ../partials/header %>
<% include ../partials/dzialalnosc/photolist %>


<div class='container'>
    <div class="">
        <div class=' row aktualosci'>
            <div class='col-md-3'>
                <img src='https://images.pexels.com/photos/545063/pexels-photo-545063.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' class='img-fluid img-thumbnail'>    
            </div>
            <div class='col-md-9'>
                <h2>title title title</h2>
                <p class='text-justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim quam sit amet felis euismod, non molestie est posuere. 
                Quisque nec dignissim nisl, quis bibendum erat. Donec dictum id mi et ornare. Ut sagittis est purus. Quisque dictum, tellus 
                vitae gravida gravida, sem turpis cursus neque, sollicitudin semper velit lectus nec ligula. Donec tempus porta lorem ut rutrum. 
                Etiam lectus nulla, consectetur sit amet sollicitudin non, porta at ante. Sed nec faucibus ligula. Quisque a velit nec justo bibendum ultrices. 
                Curabitur rutrum maximus metus, fringilla imperdiet odio aliquam quis. Vivamus sapien quam, eleifend in luctus at, cursus eu eros.
                Nullam metus est, tristique pellentesque ante sit amet, porttitor lobortis arcu.</p>
                <a class='btn btn-md btn-info float-right mb-3'>Read more</a>
            </div>
            
            
            
        </div>
        
        <div class=' row aktualosci'>
            <div class='col-md-3'>
                <img src='https://images.pexels.com/photos/325185/pexels-photo-325185.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' class='img-fluid img-thumbnail'>    
            </div>
            <div class='col-md-9'>
                <h2>title title title tis</h2>
                <p class='text-justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim quam sit amet felis euismod, non molestie est posuere. 
                Quisque nec dignissim nisl, quis bibendum erat. Donec dictum id mi et ornare. Ut sagittis est purus. Quisque dictum, tellus 
                vitae gravida gravida, sem turpis cursus neque, sollicitudin semper velit lectus nec ligula. Donec tempus porta lorem ut rutrum. 
                Etiam lectus nulla, consectetur sit amet sollicitudin non, porta at ante. Sed nec faucibus ligula. Quisque a velit nec justo bibendum ultrices. 
                Curabitur rutrum maximus metus, fringilla imperdiet odio aliquam quis. Vivamus sapien quam, eleifend in luctus at, cursus eu eros.
                Nullam metus est, tristique pellentesque ante sit amet, porttitor lobortis arcu.</p>
                <a class='btn btn-md btn-info float-right mb-3'>Read more</a>
            </div>
            
            
            
        </div>
        
        <div class=' row aktualosci'>
            <div class='col-md-3'>
                <img src='https://images.pexels.com/photos/17662/pexels-photo.jpg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260' class='img-fluid img-thumbnail'>    
            </div>
            <div class='col-md-9'>
                <h2>title title title ties</h2>
                <p class='text-justify'>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dignissim quam sit amet felis euismod, non molestie est posuere. 
                Quisque nec dignissim nisl, quis bibendum erat. Donec dictum id mi et ornare. Ut sagittis est purus. Quisque dictum, tellus 
                vitae gravida gravida, sem turpis cursus neque, sollicitudin semper velit lectus nec ligula. Donec tempus porta lorem ut rutrum. 
                Etiam lectus nulla, consectetur sit amet sollicitudin non, porta at ante. Sed nec faucibus ligula. Quisque a velit nec justo bibendum ultrices. 
                Curabitur rutrum maximus metus, fringilla imperdiet odio aliquam quis. Vivamus sapien quam, eleifend in luctus at, cursus eu eros.
                Nullam metus est, tristique pellentesque ante sit amet, porttitor lobortis arcu.</p>
                <a class='btn btn-md btn-info float-right mb-3'>Read more</a>
            </div>
            
            
            
        </div>
    </div>
    
</div>



<% include ../partials/footer %>