<% include ../partials/header %>
<% include ../partials/dzialalnosc/photolist %>


<div class='container'>
    <div class="">
        <% news.slice().reverse().forEach((news, index)=>{%>
           
            <div class='row aktualosci'>
                <div class='col-md-3'>
                    <img src='<%=news.imgUrl%>' class='img-fluid img-thumbnail'>    
                </div>
                <div class='col-md-9'>
                    <h2><%=news.title%></h2>
                    <p class='text-justify'><%-news.text.substring(0,500) + '...';%></p>
                    <a class='btn btn-md btn-info float-right mb-3' href="/aktualnosci/<%=news._id%>">Czytaj więcej</a>
                </div>
            </div>
        <% })%>
        
    </div>
    
</div>



<% include ../partials/footer %>