<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!--BOOTSTRAP CSS CMD link -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	
	<title>WGiG</title>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Mina:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

<!-- FONT AWESOMEE-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


</head>
<body>

<nav class="navbar navbar-expand-lg">
	<div class="container-fluid sticky-top-nav">
			
			<!-- NavbarHeader -->
			<div class="navbar-header">
		    	<span class="navbar-brand mb-0 h1"><a href="https://www.agh.edu.pl/"><img width="55px" src="https://i2.wp.com/home.agh.edu.pl/~phajder/wp-content/uploads/images/cropped-Znak_graficzny_AGH.png?fit=878%2C1655"></a><a href="http://www.wgig.agh.edu.pl/"><img src="http://www.wgig.agh.edu.pl/logo/WGiG_LOGOr_poziom_RGB.jpg" width="280px"></a></span>
			</div>
			<!-- NavbarHeader -->
			<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>


			<!-- NavbarCollapse -->
		  	<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
			 <ul class="navbar-nav mr-auto ml-auto">
				  <li class="nav-item">
				    <a class="nav-link vertical-center" href="/">Strona Główna</a>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="/kolo/misja" role="button" aria-haspopup="true" aria-expanded="false">O Kole</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/kolo/misja">Koło</a>
				      <a class="dropdown-item" href="/kolo/osiagniecia">Nasze osiągnięcia</a>
				      <a class="dropdown-item" href="/kolo/osiagniecia">Władze</>
				      <a class="dropdown-item" href="/kolo/czlonkowie">Członkowie</a>
				      <a class="dropdown-item" href="/kolo/dokumenty">Dokumenty</a>
				      <a class="dropdown-item" href="/kolo/dokumenty">Dołącz do nas</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" href="" onclick="toBottom()">Kontakt</a>
				    </div>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Działaność</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="przyklad.html">Projekty naukowe</a>
				      <a class="dropdown-item" href="przyklad.html">Konferencje</a>
				      <a class="dropdown-item" href="przyklad.html">Publikacje</a>
				      <a class="dropdown-item" href="przyklad.html">Działalność dydaktyczna</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" href="przyklad.html">Aktualności</a>
				    </div>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Współpraca</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="przyklad.html">Nasi partnerzy</a>
				      <a class="dropdown-item" href="przyklad.html">Oferty współpracy</a>
				      <a class="dropdown-item" href="przyklad.html">Współpraca międzynarodowa</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" href="przyklad.html">Wspomóż nas</a>
				    </div>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Galeria</a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="przyklad.html">Projekty naukowe</a>
				      <a class="dropdown-item" href="przyklad.html">Konferencje</a>
				      <a class="dropdown-item" href="przyklad.html">Sesje naukowe</a>
				      <a class="dropdown-item" href="przyklad.html">Spotkania ze specjalistami</a>
				      <a class="dropdown-item" href="przyklad.html">Wyjazdy</a>
				      <a class="dropdown-item" href="przyklad.html">inne</a>
				    </div>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id='contact-button'  role="button" onclick="toBottom()">Kontakt</a>
				  </li>
				</ul>
				<ul class="ml-auto social-buttons-container">
					<li class="mt-3">
		                <a href="https://www.facebook.com/aksjator/" class="btn btn-primary btn-sm mx-1 nav-social-buttons">
		                	<i class="fab fa-facebook-f fbfb"></i>
		                </a>
		            </li>
		            <li class="mt-1 mb-1">
		                <a href="https://www.youtube.com/channel/UCyyrJ7crf1zWJ8aCjaxCdug/featured" class="btn btn-light btn-sm mx-1 nav-social-buttons">
		                	<i class="fab fa-youtube ytyt"></i>
		                </a>            	
		                	
		            </li>
		            <li class="">
		                <a href="https://www.linkedin.com/in/ko%C5%82o-naukowe-mechaniki-konstrukcji-aksjator-64b72a164" class="btn btn-primary btn-sm mx-1 nav-social-buttons">
		                	<i class="fab fa-linkedin-in linlin"></i>
		                </a>            	
		                
		            </li>					
				</ul>
				<ul class="navbar-nav">
					<li class="nav-item"><span class="navbar-brand mb-0 h1"><a href="/"><img src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/24176825_133510807297357_6254601794481372147_n.png?_nc_cat=0&oh=91e60f8f690a68919071508bf50ae0cb&oe=5B74EA0E" width="120px"></a></span></li>
				</ul>
				

		  	</div>
		  	<!-- NavbarCollapse -->
		
	</div>
</nav>



<!--NAVBAR FINISH ^^ -->
        
