<!DOCTYPE html>
<html lang="en">
<head>

<!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<!--BOOTSTRAP CSS CMD link -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	
	<title>WGiG</title>
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Mina:400,700&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Ubuntu+Condensed&amp;subset=latin-ext" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

<!-- FONT AWESOMEE-->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


</head>
<body>

	


<nav class="navbar navbar-expand-lg">
	<div class="container-fluid sticky-top-nav">
			
			<!-- NavbarHeader -->
			<div class="navbar-header">
		    	<span class="navbar-brand mb-0 h1">
		    		<a href="https://www.agh.edu.pl/">
		    			<img width="50px" src="https://i2.wp.com/home.agh.edu.pl/~phajder/wp-content/uploads/images/cropped-Znak_graficzny_AGH.png?fit=878%2C1655">
		    		</a>
		    		<a href="http://www.wgig.agh.edu.pl/">
		    			<img class='ml-3' src="https://i.imgur.com/FDmWv9H.png" width="77px">
		    		</a>
		    		<a href="/">
		    			<img src="https://i.imgur.com/vuh5ACE.png" width="100px">
		    		</a>
		    	</span>
			</div>
			<!-- NavbarHeader -->
			<button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>


			<!-- NavbarCollapse -->
		  	<div class="collapse navbar-collapse justify-content-center " id="navbarSupportedContent">
			 <ul class="navbar-nav mr-auto ml-auto">
				  <li class="nav-item">
				    <a class="nav-link vertical-center" href="/"><i>Strona Główna</i></a>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="/kolo/misja" role="button" aria-haspopup="true" aria-expanded="false"><i>Koło</i></a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/kolo/misja">Historia koła</a>
				      <a class="dropdown-item" href="/kolo/osiagniecia">Nasze osiągnięcia</a>
				      <a class="dropdown-item" href="/#zarzad">Władze</a>
				      <a class="dropdown-item" href="/kolo/czlonkowie">Członkowie</a>
				      <a class="dropdown-item" href="/kolo/dokumenty">Dokumenty</a>
				      <a class="dropdown-item" href="/kolo/dolacz">Dołącz do nas</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item" role='button' onclick="toBottom()">Kontakt</a>
				    </div>
				    </li>
				    <li class="nav-item dropdown">
				    	<a class="nav-link" href="/aktualnosci"><i>Akutalności</i></a>
					</li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i>Działaność</i></a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/dzialalnosc/projektynaukowe">Projekty naukowe</a>
				      <a class="dropdown-item" href="/dzialalnosc/konferencje">Konferencje</a>
				      <a class="dropdown-item" href="/dzialalnosc/publikacje">Publikacje</a>
				      <a class="dropdown-item" href="/dzialalnosc/sesjenaukowe">Sesje naukowe</a>
				      
				    </div>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i>Współpraca</i></a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/wspolpraca/nasipartnerzy">Nasi partnerzy</a>
				      <a class="dropdown-item" href="/wspolpraca/ofertawspolpracy">Oferta współpracy</a>
				      <a class="dropdown-item" href="/wspolpraca/seminaria">Seminaria</a>
				      <a class="dropdown-item" href="/wspolpraca/wyjazdynaukowe">Wyjazdy naukowe</a>
				      <div class="dropdown-divider"></div>
				      <a class="dropdown-item font-italic text-danger" href="/wspolpraca/wspomoznas">Wspomóż nas</a>
				    </div>
				  </li>
				  <li class="nav-item dropdown">
				    <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i>Galeria</i></a>
				    <div class="dropdown-menu">
				      <a class="dropdown-item" href="/galeria/projektynaukowe">Projekty naukowe</a>
				      <a class="dropdown-item" href="/galeria/konferencje">Konferencje</a>
				      <a class="dropdown-item" href="/galeria/sesjenaukowe">Sesje naukowe</a>
				      <a class="dropdown-item" href="/galeria/seminaria">Seminaria</a>
				      <a class="dropdown-item" href="/galeria/wyjazdynaukowe">Wyjazdy naukowe</a>
				      <a class="dropdown-item" href="/galeria/inne">Inne</a>
				    </div>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link" id='contact-button'  role="button" onclick="toBottom()"><i>Kontakt</i></a>
				  </li>
				</ul>
				<!--<ul class="ml-auto social-buttons-container">
					<li class="mt-3">
		                <a href="https://www.facebook.com/aksjator/" class="btn btn-primary btn-sm mx-1 nav-social-buttons">
		                	<i class="fab fa-facebook-f fbfb"></i>
		                </a>
		            </li>
		            <li class="mt-1 mb-1">
		                <a href="https://www.youtube.com/channel/UCyyrJ7crf1zWJ8aCjaxCdug/featured" class="btn btn-light btn-sm mx-1 nav-social-buttons">
		                	<i class="fab fa-youtube ytyt"></i>
		                </a>            	
		                	
		            </li>
		            <li class="">
		                <a href="https://www.linkedin.com/in/ko%C5%82o-naukowe-mechaniki-konstrukcji-aksjator-64b72a164" class="btn btn-primary btn-sm mx-1 nav-social-buttons">
		                	<i class="fab fa-linkedin-in linlin"></i>
		                </a>            	
		                
		            </li>					
				</ul>-->
			
			<ul class="d-flex flex-row-reverse">
	            <li class="list-inline-item">
	                <a href='https://www.facebook.com/aksjator/' class="btn btn-primary btn-sm round-meup">
	                	<i class="fab fa-facebook-f fbup"></i>
	                </a>
	            </li>
	            <li class="list-inline-item">
	                <a href='https://www.youtube.com/channel/UCyyrJ7crf1zWJ8aCjaxCdug' class="btn btn-light btn-sm round-meup ml-2">
	                	<i class="fab fa-youtube ytup"></i>
	                </a>            	
	            </li>
	            <li class="list-inline-item">
	                <a href='https://pl.linkedin.com/in/ko%C5%82o-naukowe-mechaniki-konstrukcji-aksjator-64b72a164' class="btn btn-primary btn-sm round-meup">
	                	<i class="fab fa-linkedin-in linup "></i>
	                </a>            	
	            </li>
	        </ul>
				
				

		  	</div>
		  	<!-- NavbarCollapse -->
		
	</div>
</nav>



<!--NAVBAR FINISH ^^ -->
        
