<div class="col-md-3 d-none d-md-block">
			<div class="fixed-sidenav mt-3">
				<h2>Działalność</h2>
				<div class="separator-container">
 					<div class="separator line-separator">∎</div>
				</div>
			
				<ul>
					<li class="sidenav-element"><a href="/dzialalnosc/projektynaukowe">Projekty naukowe</a></li>
					<li class="sidenav-element"><a href="/dzialalnosc/konferencje">Konferencje</a></li>
					<li class="sidenav-element"><a href="/dzialalnosc/publikacje">Publikacje</a></li>
					<li class="sidenav-element"><a href="/dzialalnosc/sesjenaukowe">Sesje naukowe</a></li>
				</ul>
			</div>
			
		</div>