<div class="col-md-3 d-none d-md-block">
			<div class="fixed-sidenav mt-3">
				<h2>Współpraca</h2>
				<div class="separator-container">
 					<div class="separator line-separator">∎</div>
				</div>
			
				<ul>
					<li class="sidenav-element"><a href="/wspolpraca/nasipartnerzy">Nasi Partnerzy</a></li>
					<li class="sidenav-element"><a href="/wspolpraca/ofertawspolpracy">Oferta Współpracy</a></li>
					<li class="sidenav-element"><a href="/wspolpraca/seminaria">Seminaria</a></li>
					<li class="sidenav-element"><a href="/wspolpraca/wyjazdynaukowe">Wyjazdy naukowa</a></li>
					<li class="sidenav-element"><a href="/wspolpraca/wspomoznas">Wspomóż nas</a></li>
				</ul>
			</div>
			
		</div>