<div class="col-md-3 d-none d-md-block">
			<div class="fixed-sidenav mt-3">
				<h2>Koło</h2>
				<div class="separator-container">
 					<div class="separator line-separator">∎</div>
				</div>
			
				<ul>
					<li class="sidenav-element"><a href="/kolo/misja">O kole</a></li>
					<li class="sidenav-element"><a href="/kolo/osiagniecia">Nasze osiągnięcia</a></li>
					<li class="sidenav-element"><a href="/#opiekunowie">Władze</a></li>
					<li class="sidenav-element"><a href="/kolo/czlonkowie">Członkowie</a></li>
					<li class="sidenav-element"><a href="/kolo/dokumenty">Dokumenty</a></li>
					<li class="sidenav-element"><a href="/kolo/dolacz">Dołącz do nas</a></li>
					<li class="sidenav-element"><a href="#footer">Kontakt</a></li>
				
				</ul>
			</div>
			
		</div>