<div class="container-fluid" >
	<div class="sponsors-color"></div>
</div>
<div class="container-fluid slider-bck">
	<div class="container">
	  <section class="slider">
		    <div class="customer-logos">
		    	<% global.partners.forEach((p)=>{ %>
		    		<div class='slide'><img src='<%= p.imgUrl%>' style='max-height:125px'></div>
		    	<% })%>
			  <!--<div class="slide"><img src="https://www.solodev.com/assets/carousel/image1.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image2.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image3.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image4.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>-->
			</div>	  		
	  </section>
	</div>	
</div>
<div class="container-fluid">
	<div class="sponsors-color"></div>
</div>