<div class="container-fluid">
	<div class="sponsors-color"></div>
</div>
<div class="container-fluid slider-bck">
	<div class="container">
	  <section class="slider">
		    <div class="customer-logos">
			  <div class="slide"><img src="https://vignette.wikia.nocookie.net/silent/images/0/05/Doge.png/revision/latest?cb=20150510055946"></div>
			  <div class="slide"><img src="https://img00.deviantart.net/91c1/i/2012/266/8/5/catburger_by_sirenightengale-d5fmxeq.jpg"></div>
			  <div class="slide"><img src="https://ae01.alicdn.com/kf/HTB1lt10NVXXXXXAXpXXq6xXFXXXW/Dla-Dzieci-Pokoje-Rozmiar-Mini-Cartoon-Hello-Pies-Lustro-cienne-Naklejki-Naklejki-Prze-cznika-Drzwi-Naklejki.jpg_640x640.jpg"></div>
			  <div class="slide"><img src="http://i0.kym-cdn.com/entries/icons/original/000/000/015/oreally.jpg"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
			  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>
			</div>	  		
	  </section>
	</div>	
</div>
<div class="container-fluid">
	<div class="sponsors-color"></div>
</div>