<% include ./partials/bootstrap %>


<h1>Zarejestruj</h1>

<form action="/register" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button class="btn btn-md btn-primary">Zarejestruj</button>
</form>