<% include ../partials/bootstrap %>

<div class="container">
    <div class="row">
        <div class="col-md-1">
            <a href="/logout">Logout</a>
        </div>
        <div class="col-md-10">
            <h1 class="text-center">Welcome to the admin panel dear traveller!</h1>
        </div>
        <div class="col-md-1">
            <a href="/">Powrót</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Strona główna</h2>
        </div>
        
    </div>
    <div class="row">
        
        <div class="col-md-12 buttons-admin">
            <a href="/edit/homepageedit" class="btn btn-md btn-secondary">Galeria zdjęć</a>
        </div>
        <div class="col-md-12 buttons-admin">
            <a href="/edit/zarzadedit" class="btn btn-md btn-secondary">Zarząd</a>
        </div> 
        <div class="col-md-12 buttons-admin">
            <a href="/kolo/osiagniecia/manage" class="btn btn-md btn-secondary disabled">coś tam coś tam</a>
        </div>
        <div class="col-md-12 buttons-admin">
            <a href="/kolo/dokumenty/edit" class="btn btn-md btn-secondary disabled">może kiedyś się przyda</a>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">KOLO</h2>
        </div>
        
    </div>
    <div class="row">
        
        <div class="col-md-12 buttons-admin">
            <a href="/kolo/misja/edit" class="btn btn-md btn-secondary">Misja koła</a>
        </div>
        <div class="col-md-12 buttons-admin">
            <a href="/kolo/czlonkowie/manage" class="btn btn-md btn-secondary">Członkowie</a>
        </div> 
        <div class="col-md-12 buttons-admin">
            <a href="/kolo/osiagniecia/manage" class="btn btn-md btn-secondary">Osiągnięcia</a>
        </div>
        <div class="col-md-12 buttons-admin">
            <a href="/kolo/dokumenty/edit" class="btn btn-md btn-secondary">Dokumenty</a>
        </div>
    </div>
</div>










