<% include ../partials/header %>



<div class="container-fluid slider-bck">
	<div class="container">
	  <section class="slider">
	    <div class="customer-logos">
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image1.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image2.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image3.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image4.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image5.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image6.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image7.png"></div>
		  <div class="slide"><img src="https://www.solodev.com/assets/carousel/image8.png"></div>
		</div>
	  </section>
	</div>	
</div>




<div class="container">
	
	<div class="row mt-3">
		<div class="col-3">
			<div class="fixed-sidenav mt-3">
				<h2>Koło</h2>
				<div class="separator-container">
 					<div class="separator line-separator">∎</div>
				</div>
			
				<ul>
					<li class="sidenav-element">Misja Koła</li>
					<li class="sidenav-element">Członkowie</li>
					<li class="sidenav-element">Nasze osiągnięcia</li>
					<li class="sidenav-element">Dokumenty</li>
					<li class="sidenav-element">Kontakt</li>
				
				</ul>
			</div>
			
		</div>
		
		<div class="col-9 main-display">
			<h3 class="header-content mt-5"> Warm up laptop with butt lick butt fart rainbows until owner yells </h3>
			<p class="text-content mt-3">Meow for food, then when human fills food dish, take a few bites of food and continue meowing love you, then bite you meow to be let out and loved it, hated it, loved it, hated it. Allways wanting food hack hide from vacuum cleaner for sit in box attempt to leap between furniture but woefully miscalibrate and bellyflop onto the floor; what's your problem? i meant to do that now i shall wash myself intently for love and coo around boyfriend who purrs and makes the perfect moonlight eyes so i can purr and swat the glittery gleaming yarn to him (the yarn is from a $125 sweater) where is my slave? I'm getting hungry. Lick yarn hanging out of own butt. Cat not kitten around the fat cat sat on the mat bat away with paws yet kick up litter. Asdflkjaertvlkjasntvkjn (sits on keyboard) leave dead animals as gifts. Refuse to drink water except out of someone's glass shake treat bag. Kitty power. See owner, run in terror hunt anything that moves scream for no reason at 4 am intently stare at the same spot need to chase tail, for ask for petting so lick the other cats. Decide to want nothing to do with my owner today. You call this cat food. Sun bathe demand to be let outside at once, and expect owner to wait for me as i think about it, i'm bored inside, let me out i'm lonely outside, let me in i can't make up my mind whether to go in or out, guess i'll just stand partway in and partway out, contemplating the universe for half an hour how dare you nudge me with your foot?!?! leap into the air in greatest offense!. Leave dead animals as gifts eat and than sleep on your face purr when being pet yet demand to have some of whatever the human is cooking, then sniff the offering and walk away for eat and than sleep on your face so lie in the sink all day. And sometimes switches in french and say "miaou" just because well why not eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap but if human is on laptop sit on the keyboard spread kitty litter all over house. Tuxedo cats always looking dapper leave hair everywhere, so lick the curtain just to be annoying. Stand in front of the computer screen. Lick the plastic bag destroy couch as revenge plan steps for world domination yet sleep everywhere, but not in my bed but spill litter box, scratch at owner, destroy all furniture, especially couch meowzer. Poop in litter box, scratch the walls kitty scratches couch bad kitty i shredded your linens for you.</p>

			<!-- Photo by David McBee from Pexels -->
			<img src="https://images.pexels.com/photos/392031/pexels-photo-392031.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260">

			<p class="text-content mt-3">Kitty power. See owner, run in terror hunt anything that moves scream for no reason at 4 am intently stare at the same spot need to chase tail, for ask for petting so lick the other cats. Decide to want nothing to do with my owner today. You call this cat food. Sun bathe demand to be let outside at once, and expect owner to wait for me as i think about it, i'm bored inside, let me out i'm lonely outside, let me in i can't make up my mind whether to go in or out, guess i'll just stand partway in and partway out, contemplating the universe for half an hour how dare you nudge me with your foot?!?! leap into the air in greatest offense!. Leave dead animals as gifts eat and than sleep on your face purr when being pet yet demand to have some of whatever the human is cooking, then sniff the offering and walk away for eat and than sleep on your face so lie in the sink all day. And sometimes switches in french and say "miaou" just because well why not eat prawns daintily with a claw then lick paws clean wash down prawns with a lap of carnation milk then retire to the warmest spot on the couch to claw at the fabric before taking a catnap but if human is on laptop sit on the keyboard spread kitty litter all over house. Tuxedo cats always looking dapper leave hair everywhere, so lick the curtain just to be annoying. Stand in front of the computer screen. Lick the plastic bag destroy couch as revenge plan steps for world domination yet sleep everywhere, but not in my bed but spill litter box, scratch at owner, destroy all furniture, especially couch meowzer. Poop in litter box, scratch the walls kitty scratches couch bad kitty i shredded your linens for you.</p>

		</div>
	</div>
</div>


<% include ../partials/footer %>