<% include ../partials/bootstrap %>

<div class='container'>
    <h1 class='text-center mb-5'>404 page not found</h1>
    <img class='mx-auto d-block' src='http://hotdot.pro/img/works/trip/doggie.png'>
    <h2 class='text-center'>Wow, such empty</h2>
</div>
