<% include ../../partials/bootstrap %>



<div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <h2>DODAJ Sesje naukową</h2>
            </div>
        </div>
        <div class="row">
            <div class="form-styler mt-3">
                <form action="/edit/sesjenaukowe" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="news[title]" placeholder="Tytuł">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="news[imgUrl]" placeholder="URL obrazka">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="news[date]" placeholder="data">
                    </div>
                    <div class="form-group">
                        <textarea name="news[text]" rows="25" class="form-control">Tekst</textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Zatwierdź</button>
                    </div>
                </form>
            </div>
            
        </div>
        <div class='row'>
            <%news.slice().reverse().forEach((news)=>{%>
            <form action='/edit/sesjenaukowe/<%=news._id%>?_method=DELETE' method='POST'>
                <p><%=news.title%></p>
                <button>usuń</button>
            </form>
            <% });%>
        </div>
        
        
        
        <div class="row">
            <a href="/edit">Powrót</a>
        </div>
    
</div>