<% include ../partials/bootstrap %>



</head>

<body>


<div class="container">
    <div class='row'>
        
            <div class="border pb-3 mt-5 mb-5">
                <div class="post-img">
                    <img width="100%" src="<%=news.imgUrl%>">
                </div>
                <div class="post-content mt-3">
                    <div class="row title">
                        <h2><%= news.title%></h2>
                    </div>
                    <div class="row desc">
                        <p><%- news.text%></p>
                    </div>
                    <div class="row extra">
                        <span><%= news.date%></span>
                    </div>
                    <div class="row">
                        <a class="btn btn-md btn-info mt-3" href="/aktualnosci">Powrót</a>
                        <a href='/photos'>wiecej zdj</a>
                    </div>
                    
                </div>
            </div>    

    </div>
</div>


    
    
</body>
</html>

