<% include ../partials/header %>

<h1>Create a new achievement</h1>

<form action="/kolo" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="content" placeholder="content">
    <input type="text" name="date" placeholder="date">
    <button>submit!</button>
</form>

<% include ../partials/footer %>