<% include ../../partials/bootstrap %>

<div class="container">
        <div class="row ">
            <div class="col-12 text-center">
                <h2>Dodaj Wydarzenie</h2>
            </div>
        </div>
        <div class="row">
            <div class="form-styler mt-3">
                <form action="/edit/homepageedit" method="POST">
                    <div class="form-group">
                        <input type="text" name="imgurl" placeholder="img url here!">
                    </div>
                    <div class="form-group">
                        <input type="text" name="link" placeholder="button link goes here!">
                    </div>
                    <div class="form-group">
                        <input type="checkbox" id="button" name="button" >
                        <label for="button">Może guzik?</label>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Zatwierdź</button>
                    </div>
                </form>
            </div>
            
        </div>
        
        <div class='row'>
            <% homepageImg.img.forEach(function(img, index){%>
                <form action="/edit/homepageedit/<%=index%>?_method=DELETE" method="POST">
                    <p><img src='<%=img.url%>' width='50px' class='mr-2'></p>
                    <input type="hidden" name="index" value="<%=index%>">
                    <button>X</button>
                </form>
                
            
            <% })%>
            
        </div>
        
        <div class="row">
            <a href="/edit">Powrót</a>
        </div>
    
</div>